@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

header, footer, article, aside
{
    border: 1px solid black;
}

html 
{
    background-color:crimson; 
}

    
header 
{
    
    text-align: center;
    padding: em;
}

body
{
    font-family: 'Lobster Two', cursive;
    font-size: 16px;
    line-height: 1.4;
}

h2
{
    font-size: 2em;
}

#container 
{
    width: 1100px;
    height: 680px;
    
    margin: 0 auto;
    background-color:azure;
    padding: 1.7em;
    margin-top: 3em
}

#portrait_img 
{
    width: 170px;
    border: 2px solid black;
    
    
}

#project_img 
{
    width: 400px;
    height: 250px;
    border: 3.5px solid black;
    margin-left: 1em;
    margin-top: 2em;
}

#resume_img 
{
    width:320px;
    margin-left: 3em;
    border: 3.5px solid black;
    
}

aside 
{
    float: left;
    width: 40%;
    padding: 1em 1em 0em 1em;
    height: 400px;
    margin-bottom: 1em;
    font-size: 18px;
}
article 
{
    float: right;
    width: 50%;
    height: 400px;
    padding: 1em 1em 0em 1em;
    margin-bottom: 1em;
    font-size: 18px;
}
footer 
{
    font-size: 20px;
    padding: 1emm;
    text-align: center;
}